---
layout: default-layout
title: D P Bennett & Associates
---

<!-- Test Google sign up -->
        <div id="g_id_onload"
             data-client_id="159457181495-uepofgktdpcpr47ls0l9ntpskg55g3bu.apps.googleusercontent.com"
             data-context="signin"
             data-ux_mode="popup"
             data-login_uri="https://dpbennett.com.jm"
             data-auto_prompt="false">
        </div>

        <div class="g_id_signin"
             data-type="standard"
             data-shape="rectangular"
             data-theme="outline"
             data-text="signin"
             data-size="medium"
             data-logo_alignment="left">
        </div>
        <!-- End test Google sign up -->

<main>
    <section class="introduction">
        
        
        <div class="intro-section container">
            <div class="intro-text">           
                <p class="main-line"><span class="highlight">Our Mission</span></p>
                <p class="description">
                    To provide solutions to all types of business and engineering problems.
                </p>
                <a href="/contact" class="btn">Contact Us</a>

            </div>
            <div class="jmts" style="height: 200px;">
                <div>
                    <p class="title">Introducing JMTS version 4.0!</p>
                    <p class="description">
                        The Job Management & Tracking System (JMTS) version 4.0
                        was released.
                    </p>
                    <a href="/jmts" class="btn">Get details</a>
                </div>
            </div>                    
        </div>        
    </section>
    <section class="growth container">
        <div class="info">            
            <p class="tag-line">Our <span id="services">Services</span></p>            
            <div class="services">
                {% for service in site.data.services %}
                <div>
                    <p class="icon">
                        <a href="{{service.link}}"><i class="{{service.icon}}"></i></a>
                    </p>
                    <p class="title">{{service.title}}</p>
                    <p class="description">
                        {{service.description}}
                    </p>
                </div>                
                {% endfor %}                
            </div>
            <p class="tag-line"  id="products">Our <span id="products">Products</span></p>   
            <div class="products">
                {% for product in site.data.products %}
                <div>
                    <p class="title">{{product.name}}</p>
                    <p class="description">
                        {{product.description}}                        
                    </p>
                    <a href="{{product.link}}" class="btn">Get details</a>
                </div>
                {% endfor %}                
            </div>
        </div>
    </section>


</main>
