---
layout: default_layout
title: D P Bennett & Associates
---

<main>
    <section class="introduction">
        <div class="intro-section container">
            <div class="intro-text">           
                <p class="main-line"><span class="highlight">Our Mission</span></p>
                <p class="description">
                    To provide solutions to all types of engineering problems.
                </p>
                <a href="/contact" class="btn">Contact Us</a>
            </div>
        </div>
    </section>

    <section class="growth container">
        <div class="info">            
            <p class="tag-line">Our <span id="services">Services</span></p>            
            <div class="services">
                {% for service in site.data.services %}
                <div>
                    <p class="icon">
                        <a href="{{service.link}}"><i class="{{service.icon}}"></i></a>
                    </p>
                    <p class="title">{{service.title}}</p>
                    <p class="description">
                        {{service.description}}
                    </p>
                </div>                
                {% endfor %}                
            </div>
            <p class="tag-line"  id="products">Our <span id="products">Products</span></p>   
            <div class="products">
                {% for product in site.data.products %}
                <div>
                    <p class="title">{{product.name}}</p>
                    <p class="description">
                        {{product.description}}                        
                    </p>
                    <a href="{{product.link}}" class="btn">Get Details</a>
                </div>
                {% endfor %}                
            </div>
        </div>
    </section>


</main>
