<!-- Footer -->
<footer> 
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3><i class="fa fa-external-link"></i> Links</h3>               
                <p><a href="https://ict.dpbennett.com.jm/">
                        <span style="color: seashell;">ICT Blog</span>
                    </a></p>
                <p><a href="https://jmts.dpbennett.com.jm/">
                        <span style="color: seashell;">JMTS</span>
                    </a></p> 
            </div>
            <div class="col-md-4">
                <h3><i class="fa fa-heart"></i> Socialize</h3>
                <div id="social-icons">
                    {% if site.twitter_link %}
                    <a href="{{ site.twitter_link }}" class="btn-group">
                        <span style="color: seashell;" class="fa fa-twitter"></span>
                    </a>
                    {% endif %}

                    {% if site.facebook_link %}
                    <a href="{{ site.facebook_link }}" class="btn-group">
                        <span style="color: seashell;" class="fa fa-facebook"></span>
                    </a>
                    {% endif %}

                    {% if site.github_link %}
                    <a href="{{ site.github_link }}" class="btn-group">
                        <span style="color: seashell;" class="fa fa-github"></span>
                    </a>
                    {% endif %}
                </div>
            </div>    
        </div>
    </div>

    <div class="copyright text center">
        <p>&copy; Copyright {{ site.time | date: '%Y' }}, 
            <a href="https://dpbennett.com.jm">
                <span style="color: seashell;">D P Bennett & Associates</span>
            </a>
    </div>
</footer>