<footer>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffffff" fill-opacity="0.4"
              d="M0,256L120,234.7C240,213,480,171,720,165.3C960,160,1200,192,1320,208L1440,224L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z">
        </path>
    </svg>
    <section class="links container">
        <div class="logo">
            <a href="/">
                <img src="./media/logo.png" alt="DPB&amp;A Logo" height="60" width="60">
                    <p>© 2022, D P Bennett & Associates</p>
            </a>
        </div>
        <div class="qlinks">
            <h2>Quick Links</h2>
            <ul>
                <li>Home</li>
                <li>Packages</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="lglinks">
            <h2>Legal Stuff</h2>
            <ul>
                <li>Privacy Policy</li>
                <li>Cookie Policy</li>
                <li>Terms & Condition</li>
            </ul>
        </div>
        <div class="social">
            <h2>Social Media</h2>
            <ul>
                <li><i class="bi bi-twitter"></i>Twitter</li>
                <li><i class="bi bi-instagram"></i>Instagram</li>
                <li><i class="bi bi-youtube"></i>Youtube</li>
            </ul>
        </div>
    </section>
</footer>
<script src="./js/main.js"></script>