<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}" />
    <title>{{ page.title }}</title>
    <link rel="icon" href="/assets/media/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">  
    
    <!-- Google Sign In -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>    
    <script>
        function handleSignIn(response) {
            console.log("Encoded JWT ID token: " + response.credential);
        }
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FD8P1GKV0Z"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-FD8P1GKV0Z');
    </script>
    <!-- Google AdSense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9507462805318477"
     crossorigin="anonymous"></script>
</head>