<header>
    <div class="navbar container">
        <div class="logo">
            <a href="/">
                <img src="../media/logo.png" alt="DPB&amp;A Logo" height="100" width="100">
            </a>
        </div>
        <nav class="d-menu">
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/academy">
                    <li>Academy</li>
                </a>
                <a href="/contact">
                    <li>Contact</li>
                </a>
            </ul>
        </nav>
        <nav class="m-menu">
            <div onclick="show()">
                <button class="hamburger bi bi-list"></button>
            </div>
            <ul class="m-navbar" id="m-navbar">
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/academy">
                    <li>Academy</li>
                </a>
                <a href="/contact">
                    <li>Contact</li>
                </a>
            </ul>
        </nav>
    </div>
</header>