<!-- Google Tag Manager (noscript) -->
<noscript>
<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8C7P39"
        height="0" width="0" style="display:none;visibility:hidden">            
</iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
    <div class="navbar container">
        <div class="logo centred">
            <a href="/">
                <img src="../media/logo.png" alt="DPB&amp;A Logo" height="60" width="60">
                <p>D P Bennett & Associates</p>
                <p>Engineering consultants and contractors</p>
            </a>
        </div>
        <nav class="d-menu">
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/#services">
                    <li>Services</li>
                </a>
                <a href="/academy">
                    <li>Academy</li>
                </a>
                <a href="/contact">
                    <li>Contact</li>
                </a>
            </ul>
        </nav>
        <nav class="m-menu">
            <div onclick="show()">
                <button class="hamburger bi bi-list"></button>
            </div>
            <ul class="m-navbar" id="m-navbar">
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/#services">
                    <li onclick="show()">Services</li>
                </a>
                <a href="/academy">
                    <li>Academy</li>
                </a>
                <a href="/contact">
                    <li>Contact</li>
                </a>
            </ul>
        </nav>
    </div>
</header>