:root {
    --theme-text: darkblue;
    --theme-text-dull: #5c6069;
    --theme-text-long: #718096;
    --theme-color: #0081EB;
    --theme-color-hover: #0062B3;
    --theme-section-bg: #F6F7FC;    
    --theme-gradient-color-1: blue;
    --theme-gradient-color-2: lightblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--theme-text);
    text-decoration: none !important;
    list-style: none;
}

html {
    font-size: 10px;
    background-image: radial-gradient(#d3f0fd, white);
}

.centred {
     text-align: center;
}

.list-group-item {
     background-image: radial-gradient(#d3f0fd, white);
     border: none;
}