<!doctype html>
<html lang="en">
    {% include head.html %}  
    <body>
        {% include header.html %}     
        <div class="container blog-section font-size-1-5em">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="ctitle">{{ page.title }}</h2>
                    <div class="hline"></div>
                    {{ content }}
                </div>
                {% include sidebar.html %}
            </div>
            {% include footer.html %}   
        </div>
    </body>  
</html>
